<div class="container mt-5">
    <h4>Internal server error - refreshing will make the error disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="fw-bold">This error comes form the server - not Angular</p>
        <p>What to do next?</p>
        <ol>
            <li>Check the network tab in chrome dev tools</li>
            <li>Repoduce the request in postman - if the same error occurs then definately not angular!</li>
        </ol>
        <h5>Stack trace</h5>
        <code class="mt-5 bg-light">{{error.details}}</code>
    </ng-container>
</div>
